<!doctype html>
<head>
    <!-- where the sice meta data goes -->
    <title>Hello from Flask</title>
</head>
<body>
    <!-- where the site main stuff goes -->
    {#

    old example stuff for jinja

    {% if person %}
    <h1>Hello {{ person }}!</h1>
    {% else %}
    <h1>Hello, World!</h1>
    {% endif %}



    #} 

    {% if state is none %}
    
    <!-- this is the default landing page -->

    <button type="submit" formaction="/status/Correcting">"Make Correction"</button>
    
    {% endif %}

    {% if state == "Correcting" %}
        <form action="/submit_correction" method="get">
            <label for="fname">Correct Dice Roll:</label>
            <input type="text", id="fname", name="fname"><br><br>
            <input type="submit" value="Submit Correction">
        </form>
    {% endif %}


</body>



